.homepage-content-wrapper {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    // width: 100vw;
    // height: 100vh;
    
    .left-column{
        width: 50vw;

        .top-squares-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .top-square-image-wrapper {
                .image img{
                    height: 447px;
                    width: 404px;
                    margin-left: 23px;
                    margin-bottom: 3px;
                    object-fit: cover;

                }
            }

            .top-square-text-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -23px;
                margin-bottom: 6px;

                
            }
        }

        .bottom-squares-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .bottom-square-text-wrapper {
                margin-top: -6px;
                margin-left: 2.5px;
                margin-bottom: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .bottom-square-image-wrapper {

                .image img{
                    width: 450px;
                    height: 378px;
                    // height: calc(100vh - 75px);
                    margin-top: -6px;
                    margin-bottom: -13px;
                    margin-right: -3px;
                    object-fit: cover;
                    // margin-left: 0px;


                }
            }
        }
    }


    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .input-form{
            border-radius: 21px;

        }
    }
}